*{
    padding: 0;
    margin: 0;
    font-family: Gilroy, sans-serif;
    
}
h1{text-align: center;
}
.dare{
color: #1e12ff;
} 
.IT{
color: #ff227a;
}                                                                                                                        